.class {
  width: 100px;
  height: 100px;
  background: #4caf50;
  color: #FFF;
  font-size: 2em;
  line-height: 100px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  float: left;
}

.blue {
  background-color: #03a9f4;
}